
body{
    background-color: rgb(55, 55, 55);
    
   
     
}
#game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 100px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}
.field {
    position: relative;
    z-index: 5;
    left: 25%;
  display: flex;
  margin-top: 10px;
  max-width: 1000px;
  min-height: 400px;
  margin-bottom: 20px;
  background: lightgray;
}
.hand {
  position: relative;
  z-index: 10;
  left: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 700px;
  min-height: 300px;
  background: lightblue;
}
#deck {
  position: relative;
  z-index: 5;
  bottom: 0px;
  left: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 210px;
  min-height: 315px;
  background-image:url(pictures/deck.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#player-status {
  position: relative;
  z-index: 15;
  bottom: 0px;
  left: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 300px;
  min-height: 100px;
  background: lightcoral;
  color: #000;
  font-family: Arial, sans-serif;
}
p {
  margin: 0;
  font-size: 18px;
  color: #000;
  font-family: Arial, sans-serif;
}